<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body style="font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            text-align: center; /* 내용을 가운데 정렬 */
            border: 1px solid lightgray; /* 화면 전체에 검정색 테두리 추가 */
            width: 500px;">

<div class="content" style="margin: 20px;
            padding: 20px;
            height: 300px;
            width: 400px;">
    <h1 style="text-align: center">안녕하세요. 달콤샵입니다!</h1>
    <p style="text-align: center"><br>마일리지 신청이 <span th:text="${state}">승인여부</span>되었습니다.<br></p>
    <div style="display: flex; justify-content: center; align-items: center; margin-top: 30px">
        <table style="border-collapse: collapse;
        /*margin-left: auto; margin-right: auto;*/
">
            <tr>
                <td style="font-size: smaller;
            background-color: gold;
            font-weight: bold;
            padding: 10px;
            text-align: left;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;">신청날짜
                </td>
                <td style="font-size: smaller;
            border-right: none;
            padding: 10px;
            text-align: left;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;"><span th:text="${applyDate}">신청날짜</span></td>
            </tr>
            <tr>
                <td style="font-size: smaller;
            background-color: gold;
            font-weight: bold;
            padding: 10px;
            text-align: left;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;">신청금액
                </td>
                <td style="font-size: smaller;
            border-right: none;
            padding: 10px;
            text-align: left;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;"><span th:text="${amount}">신청금액</span></td>
            </tr>
        </table>
    </div>
</div>
<div class="footer" style="padding: 30px; width: 400px; text-align: center;">
    <a href="https://dalkom.shop"
       style="display: inline-block;
            background-color: gold;
            color: black;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;">달콤샵 바로가기</a>
</div>

</body>
</html>